html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
}

form.create-note {
    position: relative;
    width: 500px;
    margin: 30px auto 20px auto;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138,137,137);
}

form.create-note input, form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-family: inherit;
    font-size: 1.6rem;
    resize: none;
}

form.create-note button {
    width: 36px;
    height: 36px;
    position: absolute;
    right: -18px;
    bottom: -18px;
    border: none;
    background-color: midnightblue;
    font-size: 2.4rem;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

form.create-note button:hover {
    background-color: #1a1a1a;
}

.notes__wrapper {
width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}
.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}
.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: red;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: white;
}

